<div class="row no-gutters">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= t("new-order") %></h5>
        <p class="card-text"><%= t("new-order-description") %></p>
        <a href="<%= newOrderPath() %>" class="btn btn-primary"><%= t("go") %></a>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= t("orders-header") %></h5>
        <p class="card-text"><%= t("orders-listing-description") %></p>
        <a href="<%= ordersPath() %>" class="btn btn-primary"><%= t("go") %></a>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= t("settings") %></h5>
        <p class="card-text"><%= t("settings-description") %></p>
        <a href="<%= settingsPath() %>" class="btn btn-primary"><%= t("go") %></a>
      </div>
    </div>
  </div>
</div>