<div class="row">
    <div class="col-md-12">
        <div class="subtitle">
            <div class="container">
                <h3>
                    <%= t("orders-header") %>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                        <%= t("order-filters") %>
                    </button>
                    <a class="btn btn-primary" href="<%= newOrderPath() %>" role="button"><%= t("new-order") %></a>
                </h3>
            </div>
        </div>
        <div class="table-responsive">
            <div class="collapse" id="collapseFilters">
                <div class="card card-body">
                    <%= form({action: ordersPath(), method: "GET"}) { %>
                        <h4>Filters</h4>

                        <div class="form-group">
                            <label for="order-filter-start-date"><%= t("order-filter-start-date") %></label>
                            <input id="order-filter-start-date" name="orders-filter-start-date" type="text" class="form-control datepicker" required="required" pattern="[0-9]{1,2}.[0-9]{1,2}.[0-9]{4,4}" value="<%= filters.StartDate.Format("02.01.2006") %>">
                        </div>

                        <div class="form-group">
                            <label for="order-filter-start-date"><%= t("order-filter-end-date") %></label>
                            <input id="order-filter-end-date" name="orders-filter-end-date" type="text" class="form-control datepicker" required="required" pattern="[0-9]{1,2}.[0-9]{1,2}.[0-9]{4,4}" value="<%= filters.EndDate.Format("02.01.2006") %>">
                        </div>

                        <button type="submit" class="btn btn-primary"><%= t("orders-search") %></button>
                    <% } %>
                </div>
                <br>
            </div>
    
            <table class="table table-striped">
                <thead>
                    <tr text-align="left">
                            <th><%= t("order-description") %></th>
                            <th><%= t("order-customer") %></th>
                            <th><%= t("order-date") %></th>
                            <th><%= t("taxfree") %>&nbsp;&euro;</th>
                            <th><%= t("vat") %>&nbsp;&euro;</th>
                            <th><%= t("total") %>&nbsp;&euro;</th>
                            <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                <%= for (o) in orders { %>
                    <tr>
                        <td><a href="<%= orderPath({id: o.ID}) %>"><%= o.Description %></a></td>
                        <td><%= o.Customer %></td>
                        <td><%= o.Date.Format("02.01.2006") %></td>
                        <td><%= price(o.TotalWithoutVAT()) %></td>
                        <td><%= price(o.TotalVAT()) %></td>
                        <td><%= price(o.TotalWithVAT()) %></td>
                        <td><a class="btn btn-primary" href="<%= orderReceiptPath({id: o.ID}) %>" role="button"><%= t("order-receipt") %></a></td>
                    </tr>
                <% } %>

                </tbody>
            </table>

            <hr>

            <table class="table table-striped">
                <tbody>
                    <tr text-align="left">
                        <th><%= t("taxfree") %>&nbsp;&euro;</th>
                        <td><%= price(totalWithoutVAT) %></td>
                    </tr>
                    <tr text-align="left">
                        <th><%= t("vat") %>&nbsp;&euro;</th>
                        <td><%= price(totalVAT) %></td>
                    </tr>
                    <tr text-align="left">
                        <th><%= t("total") %>&nbsp;&euro;</th>
                        <td><%= price(totalWithVAT) %></td>
                    </tr>
                </body>
            </table>
        </div>
    </div>
</div>
