<%= form({action: action, method: "POST"}) { %>
  <!-- Start of orders-->
  <div class="row">
      <div class="col-md-12">
        <div class="subtitle">
            <div class="container">
                <h3>
                  <%= t("order-details-header") %>
                  <a class="btn btn-primary" href="<%= orderReceiptPath({id: order.ID}) %>" role="button"><%= t("order-receipt") %></a>
                </h3>
            </div>
        </div>

        <div class="form-group">
          <label for="order-id"><%= t("order-id") %></label>
          <input type="text" class="form-control" id="order-id" name="order-id" value="<%= order.ID %>" readonly>
        </div>

        <div class="form-group">
          <label for="order-description"><%= t("order-description") %></label>
          <input type="text" class="form-control" id="order-description" name="order-description" value="<%= order.Description %>" placeholder="<%= t("order-description-placeholder") %>">
        </div>

        <div class="form-group">
          <label for="order-customer"><%= t("order-customer") %></label>
          <input type="text" class="form-control" id="order-customer" name="order-customer" value="<%= order.Customer %>" placeholder="<%= t("order-customer-placeholder") %>">
        </div>

        <div class="form-group">
          <label for="order-date"><%= t("order-date") %></label>
          <input id="order-date" name="order-date" type="text" class="form-control datepicker" required="required" pattern="[0-9]{1,2}.[0-9]{1,2}.[0-9]{4,4}" value="<%= order.Date.Format("02.01.2006") %>">
        </div>

        <div class="form-group">
          <label for="order-reference"><%= t("order-reference") %></label>
          <input type="text" class="form-control" id="order-reference" name="order-reference" value="<%= order.Reference %>" placeholder="<%= t("order-reference-placeholder") %>
        </div>

        <div class="form-group">
          <label for="order-payment-message"><%= t("order-payment-message") %></label>
          <input type="text" class="form-control" id="order-payment-message" name="order-payment-message" value="<%= order.PaymentMessage %>" placeholder="<%= t("order-payment-message-placeholder") %>">
        </div>

        <div class="form-group">
          <label for="order-due-date"><%= t("order-due-date") %></label>
          <input id="order-due-date" name="order-due-date" type="text" class="form-control datepicker" required="required" pattern="[0-9]{1,2}.[0-9]{1,2}.[0-9]{4,4}" value="<%= order.DueDate.Format("02.01.2006") %>">
        </div>

        <div class="form-group">
          <label for="order-created-at"><%= t("order-created-at") %></label>
          <input type="hidden" name="order-created-at" value="<%= order.CreatedAt.Format("02.01.2006 15:04:05") %>">
          <input type="text" class="form-control" id="order-created-at" value="<%= order.CreatedAt.Format("02.01.2006 15:04:05") %>" readonly>
        </div>

        <div class="form-group">
          <label for="order-updated-at"><%= t("order-updated-at") %></label>
          <input type="hidden" name="order-updated-at" value="<%= order.UpdatedAt.Format("02.01.2006 15:04:05") %>">
          <input type="text" class="form-control" id="order-updated-at" name="order-updated-at" value="<%= order.UpdatedAt.Format("02.01.2006 15:04:05") %>" readonly>
        </div>

    </div>
  </div>
  <!-- End of orders-->

  <!-- Start of order rows-->
  <div class="row">
    <div class="col-md-12">
      <div class="subtitle">
          <div class="container">
              <h3>
                <%= t("order-rows-header") %>
                <button type="button" class="btn btn-primary" id="order-row-add"><%= t("order-rows-add") %></button>
              </h3>
          </div>
      </div>

      <div id="order-rows">
        <%= for (_, row) in order.Rows { %>
          <div class="card">
            <div class="card-body" >
              <input type="hidden" name="order-row-ids[]" value="<%= row.ID %>">
              <div class="form-group">
                <label for="order-row-name"><%= t("order-row-name") %></label>
                <input type="text" class="form-control" id="order-row-name" name="order-row-names[]" value="<%= row.Name %>" placeholder="<%= t("order-row-name-placeholder") %>">
              </div>
              <div class="form-group">
                <label for="order-row-price"><%= t("order-row-price") %></label>
                <input type="number" class="form-control" id="order-row-price" name="order-row-prices[]" value="<%= row.Price %>" placeholder="<%= t("order-row-price-placeholder") %>" min="0" step="0.01">
              </div>
              <div class="form-group">
                <label for="order-row-vat"><%= t("vat") %></label>
                <input type="number" class="form-control" id="order-row-vat" name="order-row-vats[]" value="<%= row.VAT %>" placeholder="<%= t("order-row-vat-placeholder") %>" min="0" step="0.1">
              </div>
              <div class="form-group">
                <label for="order-row-quantity"><%= t("order-row-quantity") %></label>
                <input type="number" class="form-control" id="order-row-quantity" name="order-row-quantitys[]" value="<%= row.Quantity %>" placeholder="<%= t("order-row-quantity-placeholder") %>" min="1" step="1">
              </div>
                <button type="button" class="btn btn-danger order-row-remove"><%= t("order-row-remove") %></button>
            </div>
          </div>
          <br>
        <% } %>
      </div>
    </div>
  </div>
  <!-- End of order rows-->

  <button type="submit" class="btn btn-primary"><%= t("order-save") %></button>
<% } %>
